:root {
  --color-primario: rgb(67, 42, 211);
  --color-secundario: #eeee91;
  --color-fondo-suave: #e7e2ff;
  --color-texto-principal: #2e2e2e;
  --color-acento: #7a5fff;
}

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

body {
  font-family: Arial, sans-serif;
  background-color: #f4f0ff;
  color: #2e2e2e;
  line-height: 1.5;
  font-size: 1rem;
}

header {
  background-color: #5c3dcf;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
}

header h1 {
  font-size: 1.6rem;
}

nav {
  margin-top: 0.6rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 3rem 1rem;
  max-width: 900px;
  margin: auto;
}

section h2 {
  color: #422d9c;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 2px solid #7a5fff;
  display: inline-block;
}

.presentacion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #e7e2ff;
  padding: 2rem;
  border-radius: 10px;
}

.presentacion img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.contenedor-metas {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.meta {
 
  background-color: white;
  border: 1px solid var(--color-acento);
  padding: 1.2rem;
  border-radius: 10px;
  flex: 1 1 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  border-left: 6px solid var(--color-primario);
}



.lista-intereses {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.lista-intereses li {
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.info-contacto {
  background-color: #e7e2ff;
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 1rem;
}

.info-contacto a {
  color: #422d9c;
  text-decoration: none;
}

.info-contacto a:hover {
  text-decoration: underline;
}




footer {
  background-color: #422d9c;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
}



#menu-toggle {
  display: none;
}


.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  user-select: none;
  margin-top: 0.5rem;
}


.nav-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}


@media screen and (max-width: 600px) {
  .hamburger {
    display: block; 
  }

  .nav-links {
    display: none;        
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    text-align: center;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }
}

footer {
  background-color: #422d9c;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
}

